
body {
    font-family: 'ANTON REGULAR', sans-serif;
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 0;
    position: absolute;
    left: 0;
    top: 50px;
    height: 60px;
    width: 100%;
    background-color: #f0f0f0;
}

.logo {
    margin-top: 30px;
}

.nav-items {
    width: 100%;
}

a {
    color: black;
}

.visual-web-header {
    font-size: 48px;
    font-family: 'ANTON', sans-serif;
}

.circles-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 2em;
    margin: 2.5em;
}

.circle {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: 10px solid #f0f0f0;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

#circles-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.txt {
    font-family: 'Anton', sans-serif;
    display: flex;
    align-items: center;
}

.design-circle-1 {
    background-color: #E6563B;
}

.develop-circle-2 {
    background-color: #dea03d;
}

.support-circle-3 {
    background-color: #7CB06C;
}

.host-circle-4 {
    background-color: #00ABA9;
}

.container {
    justify-content: center;
    flex-direction: row;
}

.dot-1 {
    height: 18px;
    width: 18px;
    background-color: #E6563B;
    border-radius: 100%;
    display: inline-block;
    font-size: xx-small;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}

.dot-2 {
    height: 18px;
    width: 18px;
    background-color: #dea03d;
    border-radius: 100%;
    display: inline-block;
    font-size: xx-small;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}

.dot-3 {
    height: 18px;
    width: 18px;
    background-color: #7CB06C;
    border-radius: 100%;
    display: inline-block;
    font-size: xx-small;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}

.dot-4 {
    height: 18px;
    width: 18px;
    background-color: #00ABA9;
    border-radius: 100%;
    display: inline-block;
    font-size: xx-small;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    margin-right: 200px;
}

#apple-ipad-img{
    border: 10px solid #e6e6e6;
}
#macbook-img {
    border: 10px solid #e6e6e6;
}
#man-img{
    border: 10px solid #e6e6e6
}
#security-img{
    border: 10px solid #e6e6e6
}

img {
    height: 105px;
    width: 105px;
}

.four-photos {
    height: auto !important;
    width: 240px !important;
}

h1, h2, h3, h4 {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    font-size: 9px;
}

@media screen and (max-width: 575px) {

    body {
        /*background-color: #f0f0f1;*/
        background-color: cornflowerblue;
        align-self: center;
    }

    .codeupDesign {
        font-size: xxx-large;
    }

    h1 {
        font-size: 64px;
    }

    .featured-size {
        font-size: 9px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    .circles-list {
        display: flex;

    }

    .codeupDesign {
        font-size: xx-large;
        top: 19px;
    }

    .top {
        top: 69px;
    }

    .featured-size {
        font-size: 10px;
    }

    .navbar {
        justify-content: center;
    }

    body {
        background-color: magenta;
    }

    .linebreak {
        width: 70%;
    }
}


@media screen and (min-width: 768px) and (max-width: 991px) {

    .circles-list {
        display: flex;
    }

    body {
        background-color: seagreen;
    }

    .linebreak {
        width: 95%;
    }
}

@media screen and (min-width: 992px) {

    .circles-list {
        display: flex;

    }

    body {
        background-color: gold;
    }

    .linebreak {
        width: 80%;
    }

}

